Repository tavib47/docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: auto:php-ci, auto:drupal-ci

.gitlab-ci.yml:

stages:
  - build-base
  - build-extended

variables:
  DOCKER_REGISTRY: docker.io
  DOCKER_NAMESPACE: tavib47
  PHP_VERSIONS: "8.1 8.2 8.3 8.4 8.5"

# Use Docker-in-Docker
.docker-base:
  image: docker:27
  services:
    - docker:27-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

# =============================================================================
# MANUAL BUILDS - Build specific images on demand from GitLab UI
# =============================================================================

manual:php-ci:
  extends: .docker-base
  stage: build-base
  script:
    - |
      for version in ${PHP_VERSIONS}; do
        echo "Building php-ci:${version}"
        docker build --build-arg PHP_VERSION=${version} -t ${DOCKER_NAMESPACE}/php-ci:${version} ./php-ci
        docker push ${DOCKER_NAMESPACE}/php-ci:${version}
      done
    - LATEST_VERSION=$(echo ${PHP_VERSIONS} | tr ' ' '\n' | sort -V | tail -1)
    - docker tag ${DOCKER_NAMESPACE}/php-ci:${LATEST_VERSION} ${DOCKER_NAMESPACE}/php-ci:latest
    - docker push ${DOCKER_NAMESPACE}/php-ci:latest
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: manual
    - changes:
        - php-ci/**/*
      when: manual

manual:drupal-ci:
  extends: .docker-base
  stage: build-extended
  script:
    - |
      for version in ${PHP_VERSIONS}; do
        echo "Building drupal-ci:${version}"
        docker build --build-arg PHP_VERSION=${version} -t ${DOCKER_NAMESPACE}/drupal-ci:${version} ./drupal-ci
        docker push ${DOCKER_NAMESPACE}/drupal-ci:${version}
      done
    - LATEST_VERSION=$(echo ${PHP_VERSIONS} | tr ' ' '\n' | sort -V | tail -1)
    - docker tag ${DOCKER_NAMESPACE}/drupal-ci:${LATEST_VERSION} ${DOCKER_NAMESPACE}/drupal-ci:latest
    - docker push ${DOCKER_NAMESPACE}/drupal-ci:latest
  needs:
    - job: manual:php-ci
      optional: true
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: manual
    - changes:
        - php-ci/**/*
      when: manual
    - changes:
        - drupal-ci/**/*
      when: manual

# =============================================================================
# AUTO BUILDS - Build modified images on commits to main/master
# =============================================================================

auto:php-ci:
  extends: .docker-base
  stage: build-base
  script:
    - |
      for version in ${PHP_VERSIONS}; do
        echo "Building php-ci:${version}"
        docker build --build-arg PHP_VERSION=${version} -t ${DOCKER_NAMESPACE}/php-ci:${version} ./php-ci
        docker push ${DOCKER_NAMESPACE}/php-ci:${version}
      done
    - LATEST_VERSION=$(echo ${PHP_VERSIONS} | tr ' ' '\n' | sort -V | tail -1)
    - docker tag ${DOCKER_NAMESPACE}/php-ci:${LATEST_VERSION} ${DOCKER_NAMESPACE}/php-ci:latest
    - docker push ${DOCKER_NAMESPACE}/php-ci:latest
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - php-ci/**/*

auto:drupal-ci:
  extends: .docker-base
  stage: build-extended
  script:
    - |
      for version in ${PHP_VERSIONS}; do
        echo "Building drupal-ci:${version}"
        docker build --build-arg PHP_VERSION=${version} -t ${DOCKER_NAMESPACE}/drupal-ci:${version} ./drupal-ci
        docker push ${DOCKER_NAMESPACE}/drupal-ci:${version}
      done
    - LATEST_VERSION=$(echo ${PHP_VERSIONS} | tr ' ' '\n' | sort -V | tail -1)
    - docker tag ${DOCKER_NAMESPACE}/drupal-ci:${LATEST_VERSION} ${DOCKER_NAMESPACE}/drupal-ci:latest
    - docker push ${DOCKER_NAMESPACE}/drupal-ci:latest
  needs:
    - job: auto:php-ci
      optional: true
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - php-ci/**/*
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - drupal-ci/**/*

Updated README
  README.md
Due: none

Run build jobs automatically
  .gitlab-ci.yml
Due: none

Test
  drupal-ci/test.txt
  php-ci/test.txt
Due: auto:php-ci, auto:drupal-ci

Build script
  CLAUDE.md
  README.md
  build.sh
Due: none

Fixed nvm
  php-ci/Dockerfile
Due: auto:php-ci, auto:drupal-ci

Removed test files
  drupal-ci/test.txt
  php-ci/test.txt
Due: auto:php-ci, auto:drupal-ci

PHP-FPM production-ready image
  .gitlab-ci.yml
  CLAUDE.md
  README.md
  build.sh
  drupal-ci/README.md
  php-ci/README.md
  php-fpm/Dockerfile
  php-fpm/README.md
Due: auto:php-ci, auto:drupal-ci

Build and push images locally
  .gitlab-ci.yml
  CLAUDE.md
  README.md
  build.sh
Due: none

PHP extensions
  php-fpm/Dockerfile
Due: none

Login to docker if you wanna push images
  build.sh
Due: none

PHP 8.5 is stricter about reinstalling already-loaded extensions
  php-fpm/Dockerfile
Due: none

PHP-FPM healthcheck
  php-fpm/Dockerfile
Due: none

Use the alpine version of php-fpm images
  drupal-ci/Dockerfile
  php-ci/Dockerfile
  php-fpm/Dockerfile
Due: auto:php-ci, auto:drupal-ci

Alpine doesn't support nvm, get node from node:20-alpine image
  php-ci/Dockerfile
Due: auto:php-ci, auto:drupal-ci

Build images for every php version and every node version
  build.sh
  php-ci/Dockerfile
Due: auto:php-ci, auto:drupal-ci

Updated README
  CLAUDE.md
  README.md
  drupal-ci/README.md
  php-ci/README.md
  php-fpm/README.md
Due: auto:php-ci, auto:drupal-ci

For default Node version, also tag with explicit node version
  build.sh
Due: none

Push README to Docker Hub
  .github/workflows/dockerhub-description.yml
  .gitlab-ci.yml
  drupal-ci/README.md
  php-ci/README.md
  php-fpm/README.md
Due: auto:php-ci, auto:drupal-ci

Install build tools
  php-fpm/Dockerfile
Due: none

Enable manual job triggering
  .github/workflows/dockerhub-description.yml
Due: none

Try to use v5 of github action
  .github/workflows/dockerhub-description.yml
Due: none

Also push the short description
  .github/workflows/dockerhub-description.yml
Due: none

Node 24 support
  CLAUDE.md
  build.sh
  drupal-ci/README.md
  php-ci/README.md
Due: auto:php-ci, auto:drupal-ci

drupal-php and drupal-nginx images
  .github/workflows/dockerhub-description.yml
  CLAUDE.md
  README.md
  build.sh
  drupal-nginx/Dockerfile
  drupal-nginx/README.md
  drupal-nginx/default.conf.template
  drupal-nginx/nginx.conf
  drupal-php/Dockerfile
  drupal-php/README.md
Due: none

Updated drupal user default uid & gid
  CLAUDE.md
  drupal-nginx/README.md
  drupal-php/README.md
Due: none

Add WebP, PostgreSQL and opcache tuning to php-fpm
  php-fpm/Dockerfile
  php-fpm/README.md
Due: none

drupal-nginx security
  drupal-nginx/Dockerfile
  drupal-nginx/README.md
  drupal-nginx/default.conf.template
Due: none

Versions are specified in each individual image README
  README.md
Due: none

Tag convenstions are related to individual images and they are described in each image README
  README.md
Due: none

robots file location fix
  drupal-nginx/default.conf.template
Due: none

Install mysql client for drush sql:dump
  drupal-php/Dockerfile
Due: none

Drush needs bash
  drupal-php/Dockerfile
Due: none

PHP 7.4 version of docker images
  build.sh
  php-ci/Dockerfile
Due: auto:php-ci, auto:drupal-ci

Allow Drupal core vendor assets (JS libraries like Modernizr, jQuery, etc.)
  drupal-nginx/default.conf.template
Due: none

alpine-ci image
  CLAUDE.md
  README.md
  alpine-ci/Dockerfile
  build.sh
Due: none

alpine-ci description and readme
  .github/workflows/dockerhub-description.yml
  alpine-ci/README.md
Due: none

Added missing WebP and AVIF support
  drupal-ci/Dockerfile
  php-fpm/Dockerfile
Due: auto:drupal-ci

AVIF support was added in PHP 8.1
  drupal-ci/Dockerfile
  php-fpm/Dockerfile
Due: auto:drupal-ci

Detect HTTPS from reverse proxy
  drupal-nginx/default.conf.template
Due: none
